# Get your API key from https://ai.google.dev/
GOOGLE_API_KEY=your-api-key-here

# Get your API key from https://console.groq.com/
GROQ_API_KEY=your-api-key-here

# Get your API key from https://platform.openai.com/
OPENAI_API_KEY=your-api-key-here
